﻿@model IEnumerable<ClassLibrary.Models.User>

@{
    ViewBag.Title = "AccountManager";
    Layout = "~/Views/Shared/_LayoutMainPage.cshtml";
   
}





<div class="content-top-product">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class=" btn btn-default">
                @Html.ActionLink("Thêm mới tài khoản", "CreateAccount", "MainPage")
            </div>

        </div>
    </div>
    <div style="margin-top: 30px; font-size: 14px">
        Danh Sach Tai Khoan
    </div>
    <table>
        <tr>
            <th>Tên tài khoản
            </th>
            <th>Tài khoản đăng nhập
            </th>

            <th>Loại tài khoản
            </th>
            <th>Active
            </th>

            <th>Chỉnh sửa
            </th>
            <th>Xóa
            </th>
            <th></th>
        </tr>
        @foreach (var acc in Model)
        { 
                
            <tr>
                <td>
                    @acc.FullName
                </td>
                <td>
                    @acc.UserName
                </td>
                @if (@acc.Admin == true)
                {
                    <td>Admin                            
                    </td>
                }
                else
                {
                    <td>User                           
                    </td>
                }

                 <td>
                    @acc.Active
                </td>
                <td>

                    @Html.ActionLink("Chỉnh sửa", "EditAccount", "MainPage", new { id = acc.Id }, null)
                </td>

                <td>
                    @Html.ActionLink("Xóa", "DeleteAccount", "MainPage", new { id = acc.Id }, null)
                </td>
                <td></td>
            </tr>
               
        }
    </table>



</div>
