﻿@{
    ViewBag.Title = "AdminManager";
    Layout = "~/Views/Shared/_LayoutMainPage.cshtml";
}

<div class="content-top-product">
    <div class="text-category" style="font-weight: bold; font-size: 20px" >
            @Html.ActionLink("QUẢN LÝ SẢN PHẨM", "ProductManager", "MainPage")
        </div>
        <div class="line"></div>


    <div class="text-category" style="font-weight: bold; font-size: 20px">
           
        </div>
        
      <div class="text-category" style="font-weight: bold; font-size: 20px">
           
        </div>

    <div class="text-category" style="font-weight: bold; font-size: 20px">
           @Html.ActionLink("QUẢN LÝ TÀI KHOẢN", "AccountManager", "MainPage")
        </div>
        <div class="line"></div>

    <div class="text-category" style="font-weight: bold; font-size: 20px">
           
        </div>
        
      <div class="text-category" style="font-weight: bold; font-size: 20px">
           
        </div>

    <div class="text-category" style="font-weight: bold; font-size: 20px">
           @Html.ActionLink("QUẢN LÝ HÓA ĐƠN", "BillsManager", "MainPage")
        </div>
        <div class="line"></div>
</div>