﻿@model  IEnumerable<ClassLibrary.Models.Bill_Customer>

@{
    ViewBag.Title = "BillsManager";
    Layout = "~/Views/Shared/_LayoutMainPage.cshtml";
    ClassLibrary.Models.giay_vipEntities db = new ClassLibrary.Models.giay_vipEntities();   
    
}

<div class="content-top-product">
    <div>
        DANH SACH HOA DON
    </div>

    <table>
        <tr>
            <th>Mã hóa đơn
            </th>
            <th>Tên khách hàng
            </th>

            <th>Số tiền thanh toán
            </th>

            <th>Trạng thái
            </th>
            <th>Ngày tạo
            </th>
            <th>Chi tiết hóa đơn
            </th>
            <th></th>
        </tr>
        @foreach (var acc in Model)
        { 
                
            <tr>
                <td>
                    @acc.billid
                </td>
               
                   
                          
               @foreach (var v in db.Customers.Where(m => m.Id == acc.userid))
               { 
                     <td >
                         @v.FullName
                 </td> 
               }
                
                 <td>
                    @acc.totalmoney
                </td>

                
                     @if (acc.state == 1)
                     { 
                          <td>
                        Hoàn thành
                               </td>
                     }
                else{
                     <td>
                     Đang đợi
                               </td>
                     }
               

                 <td>
                    @acc.idate
                </td>
                <td>
                    @Html.ActionLink("Chi tiết", "DetailBill", "MainPage", new { id = acc.billid }, null)
                </td>
                <td></td>
            </tr>
               
        }
    </table>

</div>