﻿@{
    ViewBag.Title = "CreateProduct";
    Layout = "~/Views/Shared/_LayoutMainPage.cshtml";
}

<h2>CreateProduct</h2>
<div class="content-top-product">
    @using (Html.BeginForm("CreateProduct", "MainPage", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <h2>Thêm mới sản phẩm mới</h2>
        
        <label for="file">Upload Image:</label>         
         

        <table>
            <tr>
                <td>Hình dại diện:</td>
                <td>
                    <input type="file" name="file" id="file" style="width: 100%;" />
                </td>

            </tr>
            <tr>
                <td>Hình góc nhìn số 1:</td>
                <td>
                    <input type="file" name="file1" id="file1" style="width: 100%;" />
                </td>
            </tr>
            <tr>
            <tr>
                <td>Hình góc nhìn số 2:</td>
                <td>
                    <input type="file" name="file2" id="file2" style="width: 100%;" />
                </td>
            </tr>
            <tr>
            <tr>
                <td>Hình góc nhìn số 3:</td>
                <td>
                    <input type="file" name="file3" id="file3" style="width: 100%;" />
                </td>
            </tr>
            <tr>
            <tr>
                <td>Hình góc nhìn số 4:</td>
                <td>
                    <input type="file" name="file4" id="file4" style="width: 100%;" />
                </td>
            </tr>
            <tr>
            <tr>
                <td>Hình góc nhìn số 5:</td>
                <td>
                    <input type="file" name="file5" id="file5" style="width: 100%;" />
                </td>
            </tr>
            <tr>
                <td>Tên sản phẩm</td>
                <td>@Html.TextBox("name")</td>
            </tr>
            <tr>
                <td>Mã sản phẩm: </td>
                <td>@Html.TextBox("content")</td>
            </tr>
            <tr>
                <td>Giá sản phẩm</td>
                <td>@Html.TextBox("price")</td>
            </tr>

            <tr>
                <td>Giá cũ sản phẩm</td>
                <td>@Html.TextBox("priceOld")</td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <input type="submit" name="Tạo mới" value="Tạo mới" />
                    @Html.ActionLink("Quay lại", "ProductManager", "MainPage")</td>
            </tr>
        </table>
    }

</div>
