﻿@model  IEnumerable<ClassLibrary.Models.BillDetail>
@{
    ViewBag.Title = "DetailBill";
    ClassLibrary.Models.giay_vipEntities db = new ClassLibrary.Models.giay_vipEntities();
}

@using (Html.BeginForm("DetailBill", "MainPage", FormMethod.Post))
    {
           @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
<div class="content-show-product">
  
   
    <table>
        <tr>
            <th>Tên Sản Phẩm
            </th>
            <th>Mã Sản Phẩm
            </th>

            <th>Số lượng
            </th>

            <th>Màu sắc
            </th>
            <th>Size
            </th>
            <th>Thành tiền
            </th>
            <th></th>
        </tr>
        @foreach (var acc in Model)
        {
            if(acc.bilid == ViewBag.id)
            {
                
            <tr>
                <td>
                    @acc.Product.Name
                </td>
               <td>
                    @acc.proid
                </td>
                   
                <td>
                    @acc.quantity
                </td>      
              
                @foreach(var color in @db.Colors.Where(m=>m.Id == acc.colorid))
                {
                    <td>
                        @color.Name
                    </td>
                }
                @foreach(var color in @db.Sizes.Where(m=>m.Id == acc.sizeid))
                {
                    <td>
                        @color.Name
                    </td>
                }

                <td>
                     @string.Format("{0:0,0 VNĐ}", acc.bilprice).Replace(",", ".")
                </td>
                <td></td>
            </tr>
        }
               
        }
    </table>
</div>
}