﻿@model ClassLibrary.Models.Product


@{
    ViewBag.Title = @Model.Name;
    Layout = "~/Views/Shared/_LayoutMainPage.cshtml";

    ClassLibrary.Models.giay_vipEntities db = new ClassLibrary.Models.giay_vipEntities();    
}
@using (Html.BeginForm("Details", "MainPage", FormMethod.Post))
    {
           @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
<div class="content-show-product">
    <div class="item-show">
        <img src="/Content/images/@Html.DisplayFor(model => model.Image1)" />

        <a href="~/Content/images/@Html.DisplayFor(model => model.Image1)" data-lightbox="roadtrip">
            <img src="/Content/images/@Html.DisplayFor(model => model.Image)"; style="width: 80px; height: 50px; margin: 15px 10px auto;" />
        </a>

        @if (Model.Image2 != "")
        { 
            <a href="~/Content/images/@Html.DisplayFor(model => model.Image2)" data-lightbox="roadtrip">
                <img src="/Content/images/@Html.DisplayFor(model => model.Image2)"; style="width: 80px; height: 50px; margin: 15px 10px auto" />
            </a>
        }

        @if (Model.Image3 != "")
        { 
           
            
            <a href="~/Content/images/@Html.DisplayFor(model => model.Image3)" data-lightbox="roadtrip">
                <img src="/Content/images/@Html.DisplayFor(model => model.Image3)"; style="width: 80px; height: 50px; margin: 15px 10px auto" />
            </a>
        }

        @if (Model.Image4 != "")
        { 
            <a href="~/Content/images/@Html.DisplayFor(model => model.Image4)" data-lightbox="roadtrip">
                <img src="/Content/images/@Html.DisplayFor(model => model.Image4)"; style="width: 80px; height: 50px; margin: 15px 10px auto" />
            </a>
        }

        @if (Model.Image5 != "")
        { 
            <a href="~/Content/images/@Html.DisplayFor(model => model.Image5)" data-lightbox="roadtrip">
                <img src="/Content/images/@Html.DisplayFor(model => model.Image5)"; style="width: 80px; height: 50px; margin: 15px 10px auto;" />
            </a>
        }

    </div>

    <div class="item-detail">

        <div class="item-detail-name">@Html.DisplayFor(model => model.Name)</div>
        <div class="item-detail-other">
            <a>@Html.DisplayFor(model => model.Content)</a>
        </div>
        <div class="item-detail-other">@Html.DisplayFor(model => model.Tag)</div>

        <div class="item-detail-other">
            @foreach (var colorId in db.ProColors.Where(m => m.ProId == Model.Id))
            {
                foreach (var color in db.Colors.Where(m => m.Id == colorId.ColorId))
                { 
                <div>
                    @color.Name
                </div>
                }
            }
        </div>

        <div class="item-detail-size">

            @foreach (var sizeId in db.ProSizes.Where(m => m.ProId == Model.Id))
            {
                foreach (var size in db.Sizes.Where(m => m.Id == sizeId.SizeId))
                { 
                <a>
                    @size.Name

                </a>

                }
            }
        </div>


        <div class="price-product">@string.Format("{0:0,0 VNĐ}", @Model.Price).Replace(",", ".")</div>
        <div style="margin-top: 40px;">
            <a  href="@Url.Action("AddToCart", "Shop", new { id = Model.Id }, null)" class="linkButton1">Mua Sản Phẩm</a>
        </div>

    </div>
</div>

<div style="width: 1000px; min-height: 400px; margin-bottom: 0; margin-left: 300px; margin-right: 0; margin-top: 150px;">
    <div class="text-category" style="font-weight: bold; font-size: 20px">
        BÌNH LUẬN:
    </div>
    <div class="line"></div>

    @*    //Hien thi danh sach binh luan*@
    @foreach (var cmt in db.CommentProducs)
    {
        if(cmt.ProId == Model.Id)
        {
            <div style="min-height:100px; width:1000px; float: left; margin-top: 30px">

                    <div style="float: inherit; color: #0a25fe; width: 200px; min-height: 100px">
                        <div>
                            <div>
                                 @cmt.Name
                            </div>
               
                            <div>
                                @cmt.Date
                            </div>
                
                
                        </div>
                    </div>
                <div style="float: inherit; color: #fff; font-size: 20px; width:700px; min-width:100px; margin-left: 30px; border-left:1px ">
                    @cmt.Content
                </div> 
                <div class="linecmt"></div> 
            </div>
            
        
    }    

    }

    @*      //Them binh luan moi*@
    <div style="margin-top: 50px">
        <div style="font-weight: bold; font-size: 20px;">
            THÊM BÌNH LUẬN:
        </div>
        <div class="form-group">
            @Html.Label("Tên:", new { @class = "col-md-2 control-label" })

            <div>
                @if (ClassLibrary.Models.Account.name.ToString() != "")
                {                  
                    @Html.TextBox("namecmt", new { ClassLibrary.Models.Account.name })
                }
                else
                {
                    @Html.TextBox("namecmt")
                }
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Bình luận", new { @class = "col-md-2 control-label" })

            <div>
                @Html.TextArea("contentcmt")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Đăng bình luận" />
            </div>
        </div>
    </div>
</div>

<div class="content-top-product">
    <div class="text-category" style="font-weight: bold; font-size: 20px">
        SẢN PHẨM TƯƠNG TỰ
    </div>
    <div class="line"></div>
    @foreach (var items in db.Categories.Where(m => m.Id == Model.CatId))
    {
        @Html.Partial("ShowPartial", items.Products)
    }
</div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}