﻿@model ClassLibrary.Models.Product

@{
    ViewBag.Title = "EditProduct";
    Layout = "~/Views/Shared/_LayoutMainPage.cshtml";
}

<div class="content-top-product">
    @using (Html.BeginForm(Html.BeginForm("EditProduct", "MainPage", FormMethod.Post, new { enctype = "multipart/form-data" })))
    {
<h2>Chỉnh sửa thông tin sản phẩm</h2>
    <table>
     
        <tr>
            <td>Hình đại diện:</td>
            <td><label>@Model.Image</label></td>
            <td><input type="file" name="file" id="file" style="width: 100%;" /> </td>
            </tr>
           <tr>
            <td>Hình đại diện1:</td>
            <td><label>@Model.Image1</label></td>
            <td><input type="file" name="file1" id="file1" style="width: 100%;" /> </td>
            </tr>
           <tr>
            <td>Hình đại diện2:</td>
           <td><label>@Model.Image2</label></td>
            <td><input type="file" name="file2" id="file2" style="width: 100%;" /> </td>
            </tr>
           <tr>
            <td>Hình đại diện3:</td>
           <td><label>@Model.Image3</label></td>
           <td><input type="file" name="file3" id="file3" style="width: 100%;" /> </td>
            </tr>
           <tr>
            <td>Hình đại diện4:</td>
            <td><label>@Model.Image4</label></td>
             <td><input type="file" name="file4" id="file4" style="width: 100%;" /> </td>
            </tr>
           <tr>
            <td>Hình đại diện5:</td>
            <td><label>@Model.Image5</label></td>
            <td><input type="file" name="file5" id="file5" style="width: 100%;" /> </td>
            </tr>

        <tr>
            <td>Tên sản phẩm</td>
            <td>@Html.TextBoxFor(model => model.Name)</td>
          </tr>
        
          <tr>
            <td>Mã sản phẩm:</td>
            <td>@Html.TextBoxFor(model => model.Content)</td>
          </tr>
        <tr>
            <td>Giá sản phẩm</td>
            <td>@Html.TextBoxFor(model => model.Price)</td>
          </tr>

        <tr>
            <td>Giá cũ sản phẩm:</td>
            <td>@Html.TextBoxFor(model => model.PriceOld)</td>
          </tr>


        <tr>
            <td></td>
            <td > <input type="submit" name ="Cập nhật" value ="Cập nhật"/> @Html.ActionLink("Quay lại", "ProductManager","MainPage")</td>
        </tr>
    </table>
    }

</div>
