﻿@model ClassLibrary.Models.User

@{
    ViewBag.Title = "EditAccount";
    Layout = "~/Views/Shared/_LayoutMainPage.cshtml";
    ClassLibrary.Models.giay_vipEntities db = new ClassLibrary.Models.giay_vipEntities();
}



<div class="content-top-product">
    @using (Html.BeginForm("EditAccount", "MainPage", FormMethod.Post))
    {
        <h2>Chỉnh sửa thông tin tài khoản</h2>
        <table>
            <tr>
                <th>Tên tài khoản
                </th>
                <th>Tài khoản đăng nhập
                </th>

                <th></th>
            </tr>


            <tr>
                <td>Tài khoản đăng nhập:</td>
                <td>@Html.TextBoxFor(model => model.UserName)</td>

            </tr>
            <tr>
                <td>Họ tên:</td>
                <td>@Html.TextBoxFor(model => model.FullName)</td>
            </tr>
            <tr>
                <td>Mật khẩu</td>
                <td>@Html.TextBoxFor(model => model.Password)</td>
            </tr>

            @if(ClassLibrary.Models.Account.admin == true)
            {
                <tr>
                    <td>Loai tai khoan</td>
                    @if (@Model.Admin == true)
                    {
                        <td>@Html.TextBox("Admin", "Admin")</td>              
                    }
                    else
                    { 
                        <td>@Html.TextBox("Admin", "User")</td>     
                    }


                </tr>
            }
            <tr>
            <tr>
                <td>Email:</td>
                <td>@Html.TextBox("Email")</td>
            </tr>

            <tr>
                <td>Phone:</td>
                <td>@Html.TextBox("Phone")</td>
            </tr>


            <tr>
                <td></td>
                <td>
                    <input type="submit" name="Cập nhật" value="Cập nhật" />
                    @Html.ActionLink("Quay lại", "AccountManager", "MainPage")</td>
            </tr>
        </table>
    }

</div>
