﻿@model ClassLibrary.Models.Product

@{
    ViewBag.Title = "Giày V.I.P";
    Layout = "~/Views/Shared/_LayoutMainPage.cshtml";
    ClassLibrary.Models.giay_vipEntities db = new ClassLibrary.Models.giay_vipEntities();   
    
}
<header>

    <script type="text/javascript">

        var mygallery = new simpleGallery({
            wrapperid: "simplegallery1", //ID of main gallery container,
            dimensions: [800, 350], //width/height of gallery in pixels. Should reflect dimensions of the images exactly
            imagearray: [
            ["Content/banner/banner2.png", "http://facebook.com/leducmanh.it", "_new", "Giày V.I.P theo bạn mọi nẻo đường"],
            ["Content/banner/banner1.png", "", "", "Cuộc sống trọn niềm vui"],
            ["Content/banner/banner4.png", "", "", "Bestter for you!"],
            ["Content/banner/banner3.png", "", "", "Nâng niu bàn chân việt!"]
            ],
            autoplay: [true, 2500, 2], //[auto_play_boolean, delay_btw_slide_millisec, cycles_before_stopping_int]
            persist: false, //remember last viewed slide and recall within same session?
            fadeduration: 500, //transition duration (milliseconds)
            oninit: function () { //event that fires when gallery has initialized/ ready to run
                //Keyword "this": references current gallery instance (ie: try this.navigate("play/pause"))
            },
            onslide: function (curslide, i) { //event that fires after each slide is shown
                //Keyword "this": references current gallery instance
                //curslide: returns DOM reference to current slide's DIV (ie: try alert(curslide.innerHTML)
                //i: integer reflecting current image within collection being shown (0=1st image, 1=2nd etc)
            }
        })

    </script>


    <style type="text/css">
        /*Make sure your page contains a valid doctype at the top*/
        #simplegallery1 {
            top: 150px;
            left: 420px;
            position: relative;
            visibility: hidden;
            border: 1px solid #000;
            z-index: 1;
        }

            #simplegallery1 .gallerydesctext {
                text-align: center;
                padding: 2px 50px;
                z-index: 1;
            }
    </style>
</header>



<div style="position: relative">
    <div id="simplegallery1"></div>

    <div class="content-top-product" style="margin-top: 200px">
        <div class="text-category" style="font-weight: bold; font-size: 20px">
            SẢN PHẨM MỚI
        </div>
        <div class="line"></div>
        @foreach (var product in db.Products.OrderByDescending(m => m.Date).Take(8))
        {
            <div class="item">
                <div class="item-sale">
                    @if (product.PriceOld > product.Price)
                    {
                        <img src="~/Content/images/sale-off.png">               
                    }
                </div>
                <div class="item-img">
                    <a href= "@Url.Action("Details", "MainPage", new { id = product.Id })" />
                    <img src ="/Content/images/@product.Image" />
                </div>
                <div class="name-product">
                    <a href="@Url.Action("Details", "MainPage", new { id = product.Id })">@product.Name</a>
                </div>
                <div class="price-product">@string.Format("{0:0,0 VNĐ}", product.Price).Replace(",", ".")</div>
            </div>             
        }
    </div>

    <div class="content-top-product">
        <div class="text-category" style="font-weight: bold; font-size: 20px">
            SẢN PHẨM SALEOFF ^^
        </div>
        <div class="line"></div>
        @foreach (var product in db.Products.Where(m => m.Price < m.PriceOld).Take(8))
        {
            
            <div class="item">
                <div class="item-sale">
                    @if (product.PriceOld > product.Price)
                    {
                        <img src="~/Content/images/sale-off.png">               
                    }
                </div>
                <div class="item-img">
                    <a href= "@Url.Action("Details", "MainPage", new { id = product.Id })" />
                    <img src ="/Content/images/@product.Image" />
                </div>
                <div class="name-product">
                    <a href="@Url.Action("Details", "MainPage", new { id = product.Id })">@product.Name</a>
                </div>
                <div class="price-product">@string.Format("{0:0,0 VNĐ}", product.Price).Replace(",", ".")</div>
            </div>            
        }
    </div>

    <div class="content-top-product">
        <div class="text-category" style="font-weight: bold; font-size: 20px">
            SẢN PHẨM BÁN CHẠY
        </div>
        <div class="line"></div>
        @foreach (var product in db.Products.OrderByDescending(m => m.Count).Take(8))
        {
            <div class="item">
                <div class="item-sale">
                    @if (product.PriceOld > product.Price)
                    {
                        <img src="~/Content/images/sale-off.png">               
                    }
                </div>
                <div class="item-img">
                    <a href= "@Url.Action("Details", "MainPage", new { id = product.Id })" />
                    <img src ="/Content/images/@product.Image" />
                </div>
                <div class="name-product">
                    <a href="@Url.Action("Details", "MainPage", new { id = product.Id })">@product.Name</a>
                </div>
                <div class="price-product">@string.Format("{0:0,0 VNĐ}", product.Price).Replace(",", ".")</div>
            </div>             
        }
    </div>
</div>







