﻿@model ClassLibrary.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutMainPage.cshtml";
}


@using (Html.BeginForm("Login","MainPage", FormMethod.Post))
{
    //this  is for create form tag
    @Html.AntiForgeryToken()          // this is for prevent CSRF attack
    @Html.ValidationSummary(true)
    if (@ViewBag.Message != null)
    {
        <div style="border:1px solid red">
            @ViewBag.Message
        </div>
    }
<div style="width: 500px; height: 650px;  margin-bottom: 0;
    margin-left: 300px;
    margin-right: 0;
    margin-top: 150px;
    text-align:left; ">
    
       <h3>Thông Tin Tài Khoản</h3>
    <div>
        @Html.Raw(@ViewBag.ErrLogin)
    </div>
    <div class="form-group">
        <div>
             @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        </div>
       
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m=>m.UserName)
        </div>
    </div>
    
    <div class="form-group">
        <div>
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        </div>
        
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m=>m.Password)
        </div>
    </div>
    
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Login" />
        </div>
    </div>
  
    <div style="margin-top: 30px">
        @Html.ActionLink("Thêm mới tài khoản", "Register", "MainPage")
    </div>

</div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
}


 


