﻿@model IEnumerable<ClassLibrary.Models.Category>

@{
    ViewBag.Title = "Danh mục sản phẩm";
}

@foreach (var item in Model)
{     
    <div class="content-top-product">
        <div class="text-category">
           @Html.ActionLink(item.Name.ToUpper(), "Product", "MainPage", new { id = item.Id }, null)
        </div>
        <div class="line">
        </div>
         @Html.Partial("ShowPartial", item.Products)
    </div>  
}
