﻿@model IEnumerable<ClassLibrary.Models.Product>

@{
    ViewBag.Title = "Sản Phẩm";
    Layout = "~/Views/Shared/_LayoutMainPage.cshtml";
    ClassLibrary.Models.giay_vipEntities db = new ClassLibrary.Models.giay_vipEntities();    
}


<div class="content-category-product">       
        <div style="margin: 30px auto; font-weight:bold; font-size: 24px; text-align: center; ">
            DANH SÁCH SẢN PHẨM
        </div>
        
         @Html.Partial("ShowProductCategory", Model)
    </div>  

