﻿@model IEnumerable<ClassLibrary.Models.Product>

@{
    ViewBag.Title = "ProductManager";
    Layout = "~/Views/Shared/_LayoutMainPage.cshtml";
   
    }

<div class="content-top-product">
     <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class =" btn btn-default">
                 @Html.ActionLink("Thêm sản phẩm mới", "CreateProduct", "MainPage")
            </div>
            
        </div>
    </div>
    <div style="margin-top: 30px; font-size: 14px">
       Danh Sach San Pham
    </div>
    <table>
            <tr>
                <th>
                    Hình đại điện
                </th>
                <th>
                    Tên sản phẩm
                </th>

                 <th>
                    Mã sản phẩm
                </th>
                <th>
                    Chỉnh sửa
                </th>
                 <th>
                    Xóa
                </th>
                <th></th>
            </tr>
            @foreach(var acc in Model)
            { 
                
                <tr >
                <td>
                      <img src="/Content/images/@acc.Image" />
                </td>
                <td>
                    @acc.Name
                </td>

                    <td>
                    @acc.Content
                </td>
                <td >
                    @Html.ActionLink("Chỉnh sửa", "EditProduct", "MainPage", new { id = acc.Id }, null)
                </td>

                <td >
                   @Html.ActionLink("Xóa", "Deleteproduct", "MainPage", new { id = acc.Id }, null)
                </td>
                <td>
                
            </td>
        </tr>
               
            }
        </table>
      
    
</div>
