﻿@model ClassLibrary.Models.RegisterModel


@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutMainPage.cshtml";
}

<div style="width: 1000px; height: 650px; margin-bottom: 0; margin-left: 300px; margin-right: 0; margin-top: 150px; text-align: left;">
    @using (Html.BeginForm("Register", "MainPage", FormMethod.Post))
    {
         @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <h2>Thêm mới tài khoản</h2>
       <p style="color:#f00">
            @Html.Raw(ViewBag.ErrUser)
            @Html.Raw(ViewBag.Message)
       </p>
       
        <div class="form-group">
            @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m=>m.UserName)
            </div>
        </div>
            
        <div class="form-group">
            @Html.LabelFor(m => m.FullName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m=>m.FullName)
            </div>
        </div>
            
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m=>m.Password)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m=>m.ConfirmPassword)
            </div>
        </div>

        <div class="form-group">
            <div class = "col-md-2 control-label">
                                CAPCHA

            </div>
           
            <div class="col-md-10">
                <p><img src="/MainPage/ShowCaptchaImage" /></p>
                <p>Please enter the string as shown above:</p>
                <p  >@Html.TextBox("CaptchaText")</p>
            </div>            
        </div>
        
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m=>m.Email)
            </div>
        </div>     
        
        <div class="form-group">
            @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                @Html.ValidationMessageFor(m=>m.Phone)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="Tạo mới" value="Tạo mới" />
                @Html.ActionLink("Quay lại", "AccountManager", "MainPage")
            </div>
        </div>
    }

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
}