﻿@model ClassLibrary.Models.User
@{
    ViewBag.Title = "CreateSuccess";
    Layout = "~/Views/Shared/_LayoutMainPage.cshtml";
}

<div class="content-top-product">
    <pre style="font-family:Arial; font-size:16px; font-weight:bold;">
    Chúc mừng bạn đã đăng ký thành công. Vui lòng vào email để kick hoạt tài khoản </pre>

</div>
