﻿@model IEnumerable<ClassLibrary.Models.Product>
<link href="~/Content/StyleMainPage.css" rel="stylesheet" />

@foreach (var item in Model.Take(8))
{  
    <div class="item">
         <div class="item-sale">
                @if (item.PriceOld > item.Price)
                {
                    <img src="~/Content/images/sale-off.png">               
                }
            </div>
        <div class="item-img" >         
           
            <a href= "@Url.Action("Details", "MainPage", new { id = item.Id })" />           
            <img src ="/Content/images/@item.Image" />
            
        </div>
         <div class ="name-product" >
             <a href="@Url.Action("Details", "MainPage", new { id = item.Id })">@item.Name</a>
         </div> 
        <div class="price-product">@string.Format("{0:0,0 VNĐ}", item.Price).Replace(",", ".")</div>
     </div>  
}
