﻿@{
    ViewBag.Title = "Kết quả tìm kiếm ";
}

<div style=" width: 1000px;
    min-height: 2400px;
    margin-bottom: 0;
    margin-left: 300px;
    margin-right: 0;
    margin-top: 150px;">
    <div class="text-category">
          KẾT QUẢ TÌM KIẾM
        </div>
        <div class="line">
    @if (ViewData.Model.Count == 0)
        { 
        <h3>Khong Ton Tai hoac khong Co San Pham Nay</h3><br />
        <h3> @Html.ActionLink("Quay lại", "Index")</h3>
        } 
        @foreach (var item in ViewData.Model)
        {
            
         <div class="item">
         <div class="item-sale">
                @if (item.PriceOld > item.Price)
                {
                    <img src="~/Content/images/sale-off.png">               
                }
            </div>
        <div class="item-img" >         
           
            <a href= "@Url.Action("Details", "MainPage", new { id = item.Id })" />           
            <img src ="/Content/images/@item.Image" />
            
        </div>
         <div class ="name-product" >
             <a href="@Url.Action("Details", "MainPage", new { id = item.Id })">@item.Name</a>
         </div> 
        <div class="price-product">@string.Format("{0:0,0 VNĐ}", item.Price).Replace(",", ".")</div>
     </div>  
       
        } 

</div>
