﻿
@model ClassLibrary.Models.Bill_Customer
@using ClassLibrary.Models
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutMainPage.cshtml";
}

<h2>Create</h2>
<div class="content-top-product">
    @if (Session["Cart"] != null)
{
   var _CartSession = (List<CartVM>)Session["Cart"];
   var Total = _CartSession.Sum(m => m.Product.Price * m.Quantity);
    <table>
        <thead>
            <tr>
                <th>Sản Phẩm</th>
                <th>Đơn Giá</th>
                <th>Số Lượng</th>
                <th>Thành Tiền</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in _CartSession)
            {
                var SubTotal = item.Quantity * item.Product.Price;
                <tr>
                    <td>@item.Product.Name</td>
                    <td>@string.Format("{0:0,0 VNĐ}", item.Product.Price).Replace(",", ".")</td>
                    <td>@item.Quantity</td>
                    <td> @string.Format("{0:0,0 VNĐ}",SubTotal).Replace(",", ".")</td>
                </tr>
            }
        </tbody>
    </table>     
    <div style="border-top: solid 2px #0094ff; margin:10px; padding:10px; font-size:20px; font-weight:bold;">
        Tổng Tiền :@string.Format("{0:0,0 VNĐ}", @Total).Replace(",", ".") 
    </div> 
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Thông tin khách hàng</legend>
        <table>
            <tr>
                <td>Họ tên:</td>
                <td>@Html.TextBox("username")</td>
            </tr>

              <tr>
                <td>Email:</td>
                <td>@Html.TextBox("email")</td>
            </tr>

              <tr>
                <td>Địa chỉ:</td>
                <td>@Html.TextBox("addr")</td>
            </tr>

              <tr>
                <td>Số điện thoại:</td>
                <td>@Html.TextBox("phone")</td>
            </tr>

              <tr>
                <td>Màu sắc:</td>
                <td>@Html.TextBox("color")</td>
            </tr>

                <tr>
                <td>Kích thước:</td>
                <td>@Html.TextBox("size")</td>
            </tr>



        </table>

        <p>
            <input type="submit" value="Gửi Đơn Đặt Hàng" />
        </p>
    </fieldset>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


</div>