﻿@{
    ViewBag.Title = "CreateSuccess";
    Layout = "~/Views/Shared/_LayoutMainPage.cshtml";
}

<div class="content-top-product">
    <pre style="font-family:Arial; font-size:16px; font-weight:bold;">
    Chúng tôi đã nhận được đơn đặt hàng của quý vị .
    Nhân viên của chúng tôi sẽ liên hệ ngay lại quý vị để chuyển hàng .
    Trong trường hợp bạn đã gửi đơn hàng quá lâu mà chưa nhận được phản hồi.
    Xin liên hệ với đường dây nóng của chúng tôi : 01662 036 464
    Cảm ơn đã mua hàng của chúng tôi !</pre>

</div>
