﻿@model ClassLibrary.Models.Bill_Customer

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMainPage.cshtml";
}


<div class="content-show-product">
<fieldset>
    <legend>Chi Tiết Đơn Hàng</legend>
    <table>
        <thead>
            <tr>
                <th>Sản Phẩm</th>
                <th>Đơn Giá</th>
                <th>Số Lượng</th>
                <th>Thành Tiền</th>
            </tr>
        </thead>
        <tbody>
            @{
                var Total = Model.BillDetails.Sum(m => m.Product.Price * m.quantity);
            }
            @foreach (var item in Model.BillDetails)
            {
                var SubTotal = item.quantity * item.Product.Price;
                <tr>
                    <td>@item.Product.Name</td>
                    <td>@string.Format("{0:0,0 VNĐ}", item.Product.Price).Replace(",", ".")</td>
                    <td>@item.quantity</td>
                    <td>@string.Format("{0:0,0 VNĐ}", SubTotal).Replace(",", ".")</td>
                </tr>
            }
        </tbody>
    </table>
    <div style="border-top: solid 2px #0094ff; margin: 10px; padding: 10px; font-size: 20px; font-weight: bold;">
        Tổng Tiền :@string.Format("{0:0,0 VNĐ}", @Total).Replace(",", ".")
    </div>
</fieldset>


    </div>