﻿@using ClassLibrary.Models

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutMainPage.cshtml";
}

<script type="text/javascript">
    $(function () {
        $('.RemoveLink').click(function () {
            var x = $(this).attr("data-id");
            if (confirm("Đối tượng sẽ bị xóa.Bạn có muốn không ?")) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("RemoveCart", "Shop")',
                    data: { id: x }
                });
                $("#row-" + x).remove();
            }
        })
    })   
</script>


<div class="content-top-product">
    @if (Session["Cart"] != null)
{
    var _CartSession = (List<CartVM>)Session["Cart"];
    var Total = _CartSession.Sum(m => m.Product.Price * m.Quantity);
    <table>
        <thead>
            <tr>                
                <th style="margin:10px auto">Sản Phẩm</th>
                <th style="margin:10px auto">Mã Sản Phẩm</th>
                <th style="margin:10px auto">Đơn Giá</th>
                <th style="margin:10px auto">Số Lượng</th>
                <th style="margin:10px auto">Thành Tiền</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in _CartSession)
            {
                var SubTotal = item.Quantity * item.Product.Price;
                <tr id="row-@item.Product.Id">
                    <td>@item.Product.Name</td>
                    <td>@item.Product.Content</td>
                    <td>@string.Format("{0:0,0 VNĐ}", item.Product.Price).Replace(",", ".")</td>
                    <td>@item.Quantity</td>
                    <td> @string.Format("{0:0,0 VNĐ}",SubTotal).Replace(",", ".")</td>
                    <td><a href="#" class="RemoveLink" data-id="@item.Product.Id">Xóa</a></td>
                </tr>
            }
        </tbody>
    </table>     
    <div style="border-top: solid 2px #0094ff; margin:10px; padding:10px; font-size:20px; font-weight:bold;">
        Tổng Tiền :@string.Format("{0:0,0 VNĐ}", @Total).Replace(",", ".") 
    </div>    
    <a href="@Url.Action("Create","Shop")" class="linkButton1">Đặt Hàng</a>
    <a href="@Url.Action("Index","MainPage")" class="linkButton1">Trở về Trang Chủ</a>
}
else
{ 
    <h1>Giỏ hàng trống</h1>
    <p>
        <a href="@Url.Action("Index","MainPage")" class="linkButton1">Trở về Trang Chủ</a>
    </p>
    
}


</div>
