﻿#pagewrap {
    margin: 0 auto;
    width: 600px;
    padding-left: 0px;
    position: relative;

}
/*Back to top button*/
#back-top {
    position: fixed;
    bottom: 0px;    
    margin-left: 900px;
}

    #back-top a {
        width: 108px;
        display: block;
        text-align: center;
        font: 11px/100% Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        color: #bbb;        
        -webkit-transition: 1s;
        -moz-transition: 1s;
        transition: 1s;
    }

        #back-top a:hover {
            color: #000;
        }
    /* arrow icon (span tag) */
    #back-top span {
        width: 108px;
        height: 108px;
        display: block;
        margin-bottom: 7px;
        background: #ddd url(images/up-arrow.png) no-repeat center center;
        /* rounded corners */
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;       
        -webkit-transition: 1s;
        -moz-transition: 1s;
        transition: 1s;
    }

    #back-top a:hover span {
        background-color: #777;

    }
