/* ######### Matt Black Strip Main Menu Bar CSS ######### */


.mattblackmenu ul{
margin: 0;
padding: 0;
font: bold 12px Verdana;
list-style-type: none;
overflow: hidden;
width: 100%;
}

.mattblackmenu li{
display: inline;
margin: 0;
}

.mattblackmenu li a{
float: left;
text-decoration: none;
padding: 12px 14px; /*padding inside each tab*/
background: url(images/line-border.png) no-repeat left;
color: white;
height: 45px;
font-size: 12px;
text-align: center;
}

.mattblackmenu li a:visited{
color: white;
}

.mattblackmenu li a:hover{
background: black; /*background of tabs for hover state */
}

.mattblackmenu a.selected{
background: black; /*background of tab with "selected" class assigned to its LI */
}

.mattwhitemenu ul{
margin: 15px 50px 10px 20px;
padding: 0;
font: bold 14px Verdana;
list-style-type: none;
overflow: hidden;
width: 100%;
}

.mattwhitemenu li{
display: inline;

margin: 0;
}

.mattwhitemenu li a{
float: left;
display: block;
text-decoration: none;
padding: 12px 6px; /*padding inside each tab*/
border-right: 2px solid #808080; /*right divider between tabs*/
background: black;
color: white;
height: 45px;
font-size: 16px;
text-align: center;
}

.mattwhitemenu li a:visited{
color: white;
}

.mattwhitemenu li a:hover{
background: #808080; /*background of tabs for hover state */
}

.mattwhitemenu a.selected{
background: #414141; /*background of tab with "selected" class assigned to its LI */
}